<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.army.dao.MoiveMapper">
	<!--select all vedio-->
    <select id="findAllMoive" resultType="com.army.vo.VedioInfo">
		SELECT
			vedio_id AS vedioId,
	    	vedio_name AS vedioName,
	    	is_valid AS valid,
	    	create_name AS createName,
	    	vedio_src AS vedioSrc,
	    	create_time AS createTime,
	    	update_time AS updateTime
		FROM TB_VEDIO_PLAYER
	    WHERE is_valid='Y' 
	    ORDER BY vedio_id
    </select>
    <!--select one vedio-->
    <select id="findOneMoiveByName" resultType="com.army.vo.VedioInfo">
		SELECT
			vedio_id AS vedioId,
	    	vedio_name AS vedioName,
	    	is_valid AS valid,
	    	create_name AS createName,
	    	vedio_src AS vedioSrc,
	    	create_time AS createTime,
	    	update_time AS updateTime
		FROM TB_VEDIO_PLAYER
	    WHERE is_valid='Y' AND vedio_name LIKE %#{vedioName}%
    </select>
    <!-- add vedio -->
    <insert id="insertMoive" parameterType="com.army.vo.VedioInfo">
    	<selectKey keyProperty='vedioId' resultType='long' order='AFTER'  >
    		select ident_current('TB_VEDIO_PLAYER')
    	</selectKey>
	    	INSERT INTO TB_VEDIO_PLAYER
				(vedio_name,
	    	     is_valid,
	    	     create_name,
	    	     vedio_src,
	    	     create_time,
	    	     update_time)
	     	VALUES
	           (#{vedioName},
	            #{valid},
	            #{createName},
	            #{vedioSrc},
	            GETDATE(),
	            GETDATE())
    </insert>
    <!--  modify moive information-->
    <update id="updateMoive" parameterType="com.army.vo.VedioInfo">
    	UPDATE TB_VEDIO_PLAYER SET
    		<if test="valid != null and valid != ''">
    			is_valid = #{valid},
    		</if>
    		<if test="caeatName != null and createName != ''">
    			create_name = #{createName},
    		</if>
    	        update_time = GETDATE()   
		 WHERE vedio_id = #{vedioId}
    </update>
</mapper>